/data/
/NetTrafficAnalis/dist/
/NetTrafficAnalis/Wireshark/
/AnomalyDetector/model_Dense/
/AnomalyDetector/model_GRU_e1/
/AnomalyDetector/model_GRU_e10/
/AnomalyDetector/model_GRU_tepm/
/AnomalyDetector/model_GRU_VNAT/
/AnomalyDetector/model_SimpleRNN/
/AnomalyDetector/Итоги/
/AnomalyDetector/characts_NoRAT.csv
/AnomalyDetector/characts_NoRAT_and_RAT.csv
/AnomalyDetector/characts_RAT.csv
/AnomalyDetector/max_and_min.csv
/AnomalyDetector/max_and_min_e1.csv
/AnomalyDetector/max_and_min_e10.csv
/AnomalyDetector/max_and_min_v2_e7.csv
/AnomalyDetector/max_and_min_v2_e8.csv
/AnomalyDetector/max_and_min_v2_e10.csv
/AnomalyDetector/max_and_min_VNAT.csv
/AnomalyDetector/VNAT_01.png
/AnomalyDetector/VNAT_02.png
/AnomalyDetector/VNAT_03.png
/AnomalyDetector/VNAT_res_4.csv
/AnomalyDetector/VNAT_res_5.csv
/AnomalyDetector/max_and_min_video.csv
/AnomalyDetector/VNAT_res_6.csv
/AnomalyDetector/History_train_traffic_1.csv
/AnomalyDetector/MaM_traffic.csv
/AnomalyDetector/modeles/
/LogStdErr.txt
/LogStdOut.txt
/GrafPrint/resultsAnalyze.csv
