/data/
/EventLogParserPML/log_csv/
/EventLogParserPML/log_pml/
/SnifferPaket/dist/
/SnifferPaket/Wireshark/
/TrafficAnomalyDetector/model_Dense/
/TrafficAnomalyDetector/model_GRU_e1/
/TrafficAnomalyDetector/model_GRU_e10/
/TrafficAnomalyDetector/model_GRU_tepm/
/TrafficAnomalyDetector/model_GRU_VNAT/
/TrafficAnomalyDetector/model_SimpleRNN/
/TrafficAnomalyDetector/Итоги/
/TrafficAnomalyDetector/characts_NoRAT.csv
/TrafficAnomalyDetector/characts_NoRAT_and_RAT.csv
/TrafficAnomalyDetector/characts_RAT.csv
/TrafficAnomalyDetector/max_and_min.csv
/TrafficAnomalyDetector/max_and_min_e1.csv
/TrafficAnomalyDetector/max_and_min_e10.csv
/TrafficAnomalyDetector/max_and_min_v2_e7.csv
/TrafficAnomalyDetector/max_and_min_v2_e8.csv
/TrafficAnomalyDetector/max_and_min_v2_e10.csv
/TrafficAnomalyDetector/max_and_min_VNAT.csv
/TrafficAnomalyDetector/VNAT_01.png
/TrafficAnomalyDetector/VNAT_02.png
/TrafficAnomalyDetector/VNAT_03.png
/TrafficAnomalyDetector/VNAT_res_4.csv
/TrafficAnomalyDetector/VNAT_res_5.csv
/TrafficAnomalyDetector/max_and_min_video.csv
/TrafficAnomalyDetector/VNAT_res_6.csv
